@import "../base/breakpoint.scss";

#roll,
#die-number {
	font-family: 'Indie Flower', 'Oxygen', sans-serif;
}



#die-number {
	font-size: 2rem;
	color: #333;


	@include media('>tablet', '<=desktop') {
		font-size: 2.5rem;
	}

	@include media('>desktop') {
		font-size: 3rem;
	}
}