* {
	border: box-border;
}


body {
	margin: 0;
	padding: 0;
	background-color: #aecfe2;
	font-family: 'Indie Flower', 'Oxygen', sans-serif;
	font-size: 16px;
	color: #eee;
	text-align: center;
    background: -moz-linear-gradient(left, rgba(174,207,226,1) 0%, rgba(156,197,217,1) 50%, rgba(147,192,215,1) 75%,
 rgba(148,193,216,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(174,207,226,1) 0%, rgba(156,197,217,1) 50%, rgba(147,192,215,1) 75%, rgba(148,193,216,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(174,207,226,1) 0%, rgba(156,197,217,1) 50%, rgba(147,192,215,1) 75%, rgba(148,193,216,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


